@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  /* Hide the scrollbar for all browsers */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
  .menu-item {
    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }
}

.hide-scrollbar {
  /* Hide the scrollbar for all browsers */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}
